
body {
  margin: 0;
  padding: 0;
}

.home-container {
  background-color: white;
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  height: 100vh;
  box-sizing: border-box;
}

.text-blue-france {
  color: #003366;
  text-align: center;
  margin-bottom: 20px;
  margin-top: 100px;
  padding: 10px;
  width: 100%;
  max-width: 600px;
  height: 450px;
  margin-left: auto;
  margin-right: auto;
}


.profile-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  margin-bottom: 40px;
}

.photo-text {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 40px;
  margin-left: 20px;
}

.profile-image {
  width: 400px;
  height: 400px;
 
}

.skill-image {
  width: 260px;
}

.skills-container {
  text-align: center;
  width: 100%;
  margin-bottom: 400px;
  background-color: white;
  padding: 20px;
  
}

.skills-row {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.skill {
  width: 320px;
  padding: 20px;
  margin: 10px;
 
  color: #87CEEB;
  text-align: center;
  margin-bottom: 100px;

}


@media (min-width: 768px) {
  .home-container {
  }

  .text-blue-france {
    margin-left: 200px;
  }

  .profile-container {
    width: 45%;
  }

  .photo-text {
    flex-direction: row;
    margin-bottom: 60px;
  }

  .profile-image {
    margin-left: auto;
    margin-right: 30px;
  }
}

@media (max-width: 480px) {
  .text-blue-france {
    margin-left: 20px;
    margin-right: 20px;
  }

  .profile-image {
    width: 100%;
    height: auto;
    margin-right: 0;
    margin-bottom: 20px;
  }
}
