
.testimonials-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: white;
  color: #ffffff;
  height: 100vh;
  overflow: auto;
  padding: 20px;
  border-color: #0d2f45;
}

.testimonials-item {
  background-color: #0e3756;
  padding: 20px;
  margin: 10px;
  border-radius: 10px;
  width: 300px;
  border: 2px solid #87CEEB;  
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3); 
}


.testimonials-input {
  width: 100%;
  margin-bottom: 10px;
  padding: 10px;
  border: none;
  border-radius: 5px;
  outline: none;
}

button {
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  background-color: #FFCC00;
  color: #ffffff;
  margin-right: 10px;
  cursor: pointer;
  margin: 10px;
}

button:hover {
  background-color: #117e25;
}

h2 {
  margin-bottom: 10px;
}

p {
  margin-bottom: 10px;
}
